<div class="profile-container container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6 label">Customer Key</div>
        <div class="col-sm-6 details">{{customer.customerKey}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Business Reg No</div>
        <div class="col-sm-6 details">{{customer.businessRegNo}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Company Name/<br>Individual Buyer</div>
        <div class="col-sm-6 details">{{customer.name}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Date of Registration</div>
        <div class="col-sm-6 details">{{customer.registrationDate | date:'dd MMMM yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Address</div>
        <div class="col-sm-6 details">{{customer.streetName}}</div>
      </div>
      <div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details">{{customer.buildingName}}</div>
      </div>
      <div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details">{{customer.unitNo}}</div>
      </div>
      <div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details">{{customer.postalCode}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Country</div>
        <div class="col-sm-6 details">{{country}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Contact</div>
        <div class="col-sm-6 details">{{customer.contactNo}}</div>
      </div>
      <div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details">{{customer.contactName}}</div>
      </div>
      <div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details">{{customer.email}}</div>
      </div>
      <div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details">{{customer.faxNo}}</div>
      </div>
      <div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details">{{customer.contactMisc}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Gender</div>
        <div class="col-sm-6 details">{{customer.gender | titlecase}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Origin</div>
        <div class="col-sm-6 details">{{customer.origin}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12 label">Financial Status</div>
      </div>
      <div class="row">
        <div *ngIf="!updateData" class="col-sm-12">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="chartColors"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div *ngIf="updateData" class="col-sm-12 fff">
          <canvas baseChart
          [datasets]="barChartDataUpdate"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="chartColors"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Sales/Payment/<br>Banking Details</div>
        <div *ngIf="customer.salesDetails" class="col-sm-6 details">{{customer.salesDetails}}</div>
        <div *ngIf="!customer.salesDetails" class="col-sm-6 details">NA</div>
        <!-- <div *ngIf="!customer.salesDetails && !customer.paymentDetails && !customer.bankingDetails && !customer.miscDetails" class="col-sm-6 details">NA</div> -->
      </div>
      <div *ngIf="customer.paymentDetails" class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details spb-details">{{customer.paymentDetails}}</div>
      </div>
      <div *ngIf="!customer.paymentDetails"></div>
      <div *ngIf="customer.bankingDetails" class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details spb-details">{{customer.bankingDetails}}</div>
      </div>
      <div *ngIf="!customer.bankingDetails"></div>
      <div *ngIf="customer.miscDetails" class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6 details spb-details">{{customer.miscDetails}}</div>
      </div>
      <div *ngIf="!customer.miscDetails"></div>
      <div class="row">
        <div class="col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Remarks</div>
        <div *ngIf="customer.remarks" class="col-sm-6 details">{{customer.remarks}}</div>
        <div *ngIf="!customer.remarks" class="col-sm-6 details">NA</div>
      </div>
    </div>
  </div>
</div>
