.header-container {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px #cfcfcf;
    -moz-box-shadow: 0px 2px 5px 0px #cfcfcf;
    box-shadow: 0px 2px 5px 0px #cfcfcf;;
}

.header-container .section {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.header-container .logo {
    min-width: 100%;
    margin-left: 20px;
}

.header-container .customer-name, .header-container .username {
    font-weight: bold;
}

.header-container .customer-name {
    text-align: center;
}

.header-container .username {
    margin-right: 30px;
    float: right;
}

.header-container .logo img {
    margin: auto;
    max-width: 30%;
    height: auto;
}