.customer-container {
    padding: 0;
}

.customer-container #theForm {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px #cfcfcf;
    -moz-box-shadow: 0px 2px 5px 0px #cfcfcf;
    box-shadow: 0px 2px 5px 0px #cfcfcf;
}

.updatedetails-container {
    margin: 0 !important;
    border-radius: 0 0 10px 10px !important;
}

.customer-container .form-group {
    margin: 15px 0;
}

.customer-container .form-group label {
    margin-right: -15px;
    font-size: 12px;
    float: left;
    line-height: 30px;
    padding: 0;
}

.customer-container .form-group .reg-date {
    line-height: 15px;
}

.customer-container .form-group .company-name {
    line-height: 15px;
}

.customer-container .form-group .address, .customer-container .form-group .contact-no {
    line-height: 18px;
}

.customer-container .form-group .postal-code, .customer-container .form-group .misc-details {
    line-height: 35px;
}

.customer-container .form-group .sales-payment-details {
    line-height: 13px;
    margin-bottom: 0;
}

.customer-container .form-group input, .customer-container .form-group textarea {
    margin-left: -10px;
    float: left;
    height: 25px;
    color: #6e6e6e;
    font-size: 12px;
}

.customer-container .form-group ng-select {
    width: 100%;
    margin-left: -10px;
}

.customer-container .form-group input:-webkit-autofill:focus {
    -webkit-text-fill-color: #6e6e6e;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.customer-container .form-group input::placeholder {
    color: #ced4da;
    font-size: 12px;
}

.customer-container .form-group .datepicker-custom {
    position: absolute;
    right: 25px;
    z-index: 0;
}

.customer-container .form-group .datepicker-custom button {
    padding: 0 5px;
    border: none;
}

.customer-container .form-group .datepicker-custom button:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.customer-container .form-group.gender {
    width: 100%;
}

.customer-container .form-group.gender input {
    width: 40px;
    margin-left: 0;
}

.customer-container .form-group .expanded {
    margin-left: 0;
}

.customer-container .form-group .txt-remarks {
    padding-left: 0;
    padding-right: 25px;
}

.customer-container .form-group .txt-remarks textarea {
    height: 50px;
}

.alert.alert-danger.custom, .alert.alert-success.custom {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.customer-container .submit-container {
    width: 100%;
    margin: 15px 0;
    font-size: 12px;
}

.customer-container .submit-container span {
    color: #ff0000;
}

.customer-container .submit-container .btn-save {
    padding: 0;
}

.customer-container .submit-container button {
    padding: 5px 42px;
    background-color: #2b8bd9;
    font-weight: bold;
    font-size: 12px;
}
