<div class="customer-container container-fluid">
  <div id="theForm" [class.updatedetails-container]="getCustomer">
    <div *ngIf="error" class="alert alert-danger custom">{{error}}</div>
    <div *ngIf="success" class="alert alert-success custom">{{success}}</div>
    <form #f="ngForm" name="theForm" (submit)="addCustomer(f, $event)">
      <div class="row">
        <div class="col-sm-6">
          <div class="row form-group">
            <div class="col-sm-4">
              <label>Customer Key*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input type="text"
              class="form-control"
              name="customerKey"
              [(ngModel)]="customer.customerKey"
              #accountModel="ngModel"
              placeholder="Eg. LOREM-SG"
              required
              pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.customerKey && !isValid" class="required-field">Customer Key is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input type="text"
              class="form-control"
              name="customerKey"
              [(ngModel)]="customer.customerKey"
              #accountModel="ngModel"
              required
              pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.customerKey && !isValidEdit" class="required-field">Customer Key is required.</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label>Business Reg No*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="businessRegNo"
                    [(ngModel)]="customer.businessRegNo"
                    #accountModel="ngModel"
                    placeholder="Eg. 201812345G"
                    required
                    pattern="^[a-zA-Z0-9-]+$">
              <div *ngIf="!customer.businessRegNo && !isValid" class="required-field">Business Reg No. is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="businessRegNo"
                    [(ngModel)]="customer.businessRegNo"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9-]+$">
              <div *ngIf="!customer.businessRegNo && !isValidEdit" class="required-field">Business Reg No. is required.</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label class="company-name">Company Name / Individual Buyer*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="name"
                    [(ngModel)]="customer.name"
                    #accountModel="ngModel"
                    placeholder="Eg. Company Name Pte. Ltd."
                    required
                    pattern="^[a-zA-Z]+$">
              <div *ngIf="!customer.name && !isValid" class="required-field">Company Name is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="name"
                    [(ngModel)]="customer.name"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z]+$">
              <div *ngIf="!customer.name && !isValidEdit" class="required-field">Company Name is required.</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label class="reg-date">Date of Registration*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="registrationDate"
                    [(ngModel)]="customer.registrationDate"
                    #registrationDate="ngModel" 
                    placeholder="Eg. 31 December 2018" 
                    name="d2" 
                    ngbDatepicker #d2="ngbDatepicker" 
                    [readonly]="true" 
                    required>
              <div class="input-group-append datepicker-custom">
                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="far fa-calendar-alt fa-sm"></i></button>
              </div>
              <div *ngIf="!customer.registrationDate && !isValid" class="required-field">Date of Registration is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="registrationDate"
                    [(ngModel)]="customer.registrationDate"
                    #registrationDate="ngModel" 
                    name="d2" 
                    ngbDatepicker #d2="ngbDatepicker" 
                    [readonly]="true" 
                    required>
              <div class="input-group-append datepicker-custom">
                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="far fa-calendar-alt fa-sm"></i></button>
              </div>
              <div *ngIf="!customer.registrationDate && !isValidEdit" class="required-field">Date of Registration is required.</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label class="address">Address*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="streetName"
                    [(ngModel)]="customer.streetName"
                    #accountModel="ngModel"
                    placeholder="Street Name"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.streetName && !isValid" class="required-field">Street Name is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="streetName"
                    [(ngModel)]="customer.streetName"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.streetName && !isValidEdit" class="required-field">Street Name is required.</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label></label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="buildingName"
                    [(ngModel)]="customer.buildingName"
                    #accountModel="ngModel"
                    placeholder="Building Name"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.buildingName && !isValid" class="required-field">Building Name is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="buildingName"
                    [(ngModel)]="customer.buildingName"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.buildingName && !isValidEdit" class="required-field">Building Name is required.</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label></label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="unitNo"
                    [(ngModel)]="customer.unitNo"
                    #unitNo="ngModel"
                    placeholder="Unit No."
                    required
                    pattern="^[a-zA-Z0-9#-]+$">
              <div *ngIf="!customer.unitNo && !isValid" class="required-field">Unit No. is required.</div>
              <div *ngIf="unitNo.errors?.pattern && (unitNo.touched || unitNo.dirty)" class="required-field">Invalid Unit No.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="unitNo"
                    [(ngModel)]="customer.unitNo"
                    #unitNo="ngModel"
                    required
                    pattern="^[a-zA-Z0-9#-]+$">
              <div *ngIf="!customer.unitNo && !isValidEdit" class="required-field">Unit No. is required.</div>
              <div *ngIf="unitNo.errors?.pattern && (unitNo.touched || unitNo.dirty || !isValidEdit)" class="required-field">Invalid Unit No.</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label class="postal-code">&nbsp;</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="postalCode"
                    [(ngModel)]="customer.postalCode"
                    #postalCode="ngModel"
                    placeholder="Postal Code"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.postalCode && !isValid" class="required-field">Postal Code is required.</div>
              <div *ngIf="postalCode.errors?.pattern && (postalCode.touched || postalCode.dirty)" class="required-field">Invalid Postal Code.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="postalCode"
                    [(ngModel)]="customer.postalCode"
                    #postalCode="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.postalCode && !isValidEdit" class="required-field">Postal Code is required.</div>
              <div *ngIf="postalCode.errors?.pattern && (postalCode.touched || postalCode.dirty || !isValidEdit)" class="required-field">Invalid Postal Code.</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label>Country*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <ng-select [items]="country$ | async"
                name="country"
                bindLabel="name"
                bindValue="code"
                [(ngModel)]="selectedCountryCode" 
                [ngModelOptions]="{standalone: true}" 
                ngDefaultControl 
                class="custom">
              </ng-select>
              <div *ngIf="!selectedCountryCode && !isValid" class="required-field">Country is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <ng-select [items]="country$ | async"
                name="country"
                bindLabel="name"
                bindValue="code"
                [(ngModel)]="selectedCountryCode" 
                [ngModelOptions]="{standalone: true}" 
                ngDefaultControl 
                class="custom">
              </ng-select>
              <div *ngIf="!selectedCountryCode && !isValidEdit" class="required-field">Country is required.</div>
            </div>
          </div>

          <div class="row form-group">
              <div class="col-sm-4">
                <label>Bank Account No*</label>
              </div>
              <div *ngIf="!updateDetails" class="col-sm-8">
                <input type="text"
                      class="form-control"
                      name="bankAccountNo"
                      [(ngModel)]="customer.bankAccountNo"
                      #accountModel="ngModel"
                      placeholder="123-12345-1"
                      required
                      pattern="^[0-9-]+$">
                <div *ngIf="!customer.bankAccountNo && !isValid" class="required-field">Bank Account No. is required.</div>
              </div>
              <div *ngIf="updateDetails" class="col-sm-8">
                <input type="text"
                      class="form-control"
                      name="bankAccountNo"
                      [(ngModel)]="customer.bankAccountNo"
                      #accountModel="ngModel"
                      required
                      pattern="^[0-9-]+$">
                <div *ngIf="!customer.bankAccountNo && !isValidEdit" class="required-field">Bank Account No. is required.</div>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="row form-group">
            <div class="col-sm-4">
              <label class="contact-no">Contact*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="contactNo"
                    [(ngModel)]="customer.contactNo"
                    #contactNo="ngModel"
                    placeholder="Main Contact No."
                    required
                    pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s#*0-9]*$">
              <div *ngIf="!customer.contactNo && !isValid" class="required-field">Contact No. is required.</div>
              <div *ngIf="contactNo.errors?.pattern && (contactNo.touched || contactNo.dirty)" class="required-field">Invalid Contact No.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="contactNo"
                    [(ngModel)]="customer.contactNo"
                    #contactNo="ngModel"
                    required
                    pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s#*0-9]*$">
              <div *ngIf="!customer.contactNo && !isValidEdit" class="required-field">Contact No. is required.</div>
              <div *ngIf="contactNo.errors?.pattern && (contactNo.touched || contactNo.dirty || !isValidEdit)" class="required-field">Invalid Contact No.</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label></label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="contactName"
                    [(ngModel)]="customer.contactName"
                    #accountModel="ngModel"
                    placeholder="Name of Main Contact"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.contactName && !isValid" class="required-field">Contact Name is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="contactName"
                    [(ngModel)]="customer.contactName"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.contactName && !isValidEdit" class="required-field">Contact Name is required.</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label></label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="email"
                    [(ngModel)]="customer.email"
                    #email="ngModel"
                    placeholder="E-mail Address"
                    required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <div *ngIf="!customer.email && !isValid" class="required-field">E-mail is required.</div>
              <div *ngIf="email.errors?.pattern && (email.touched || email.dirty)" class="required-field">Invalid E-mail.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="email"
                    [(ngModel)]="customer.email"
                    #email="ngModel"
                    required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <div *ngIf="!customer.email && !isValidEdit" class="required-field">E-mail is required.</div>
              <div *ngIf="email.errors?.pattern && (email.touched || email.dirty || !isValidEdit)" class="required-field">Invalid E-mail.</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label></label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="faxNo"
                    [(ngModel)]="customer.faxNo"
                    placeholder="Fax No."
                    #faxNo="ngModel"
                    required
                    pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s#*0-9]*$">
              <div *ngIf="faxNo.errors?.pattern && (faxNo.touched || faxNo.dirty)" class="required-field">Invalid Fax No.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="faxNo"
                    [(ngModel)]="customer.faxNo"
                    #faxNo="ngModel"
                    required
                    pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s#*0-9]*$">
              <div *ngIf="faxNo.errors?.pattern && (faxNo.touched || faxNo.dirty || !isValidEdit)" class="required-field">Invalid Fax No.</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label></label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="contactMisc"
                    [(ngModel)]="customer.contactMisc"
                    #accountModel="ngModel"
                    placeholder="Misc."
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="contactMisc"
                    [(ngModel)]="customer.contactMisc"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
          </div>

          <div class="row form-group gender">
            <div class="col-sm-4">
              <label>Gender*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <div class="row">
                <!-- Male & Female-->
                <label class="col-sm-6" *ngFor="let gender of genders; let i = index">
                    <input type="radio" 
                    value="{{gender.value}}" 
                    name="gender" 
                    [(ngModel)]="selectedGender" 
                    class="gender"> {{gender.label}}
                </label>
                <!-- end -->
                <div *ngIf="!selectedGender && !isValid" class="required-field">Gender is required.</div>
              </div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <div class="row">
                <!-- Male & Female-->
                <label class="col-sm-6" *ngFor="let gender of genders; let i = index">
                    <input type="radio" 
                    value="{{gender.value}}" 
                    name="gender" 
                    [(ngModel)]="selectedGender" 
                    class="gender"> {{gender.label}}
                </label>
                <!-- end -->
                <div *ngIf="!selectedGender && !isValidEdit" class="required-field">Gender is required.</div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label>Origin*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="origin"
                    [(ngModel)]="customer.origin"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.origin && !isValid" class="required-field">Origin is required.</div>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input type="text"
                    class="form-control"
                    name="origin"
                    [(ngModel)]="customer.origin"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
              <div *ngIf="!customer.origin && !isValidEdit" class="required-field">Origin is required.</div>
            </div>
          </div>

          <!-- Sales/payment details-->
          <div class="row form-group">
            <div class="col-sm-4">
              <label class="sales-payment-details">Sales / Payment / Banking Details</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="salesDetails"
                    [(ngModel)]="customer.salesDetails"
                    #accountModel="ngModel"
                    placeholder="Sales Details"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="salesDetails"
                    [(ngModel)]="customer.salesDetails"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label></label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="paymentDetails"
                    [(ngModel)]="customer.paymentDetails"
                    #accountModel="ngModel"
                    placeholder="Payment Details"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="paymentDetails"
                    [(ngModel)]="customer.paymentDetails"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label></label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="bankingDetails"
                    [(ngModel)]="customer.bankingDetails"
                    #accountModel="ngModel"
                    placeholder="Banking Details"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="bankingDetails"
                    [(ngModel)]="customer.bankingDetails"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4">
              <label class="misc-details">&nbsp;</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="miscDetails"
                    [(ngModel)]="customer.miscDetails"
                    #accountModel="ngModel"
                    placeholder="Misc. Details"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <input
                    class="form-control"
                    name="miscDetails"
                    [(ngModel)]="customer.miscDetails"
                    #accountModel="ngModel"
                    required
                    pattern="^[a-zA-Z0-9]+$">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4">
              <label>Status*</label>
            </div>
            <div *ngIf="!updateDetails" class="col-sm-8">
              <ng-select [items]="status$ | async"
                name="status"
                bindLabel="description"
                bindValue="code"
                [(ngModel)]="selectedStatusCode" 
                [ngModelOptions]="{standalone: true}" 
                ngDefaultControl 
                class="custom">
              </ng-select>
            </div>
            <div *ngIf="updateDetails" class="col-sm-8">
              <ng-select [items]="status$ | async"
                name="status"
                bindLabel="description"
                bindValue="code"
                [(ngModel)]="selectedStatusCode" 
                [ngModelOptions]="{standalone: true}" 
                ngDefaultControl 
                class="custom">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row form-group">
            <div class="col-sm-2">
              <label class="extended">Remarks</label>
            </div>
            <div class="col-sm-10 txt-remarks">
              <textarea 
              class="form-control expanded"
              name="remarks"
              [(ngModel)]="customer.remarks"
              #accountModel="ngModel"
              required></textarea>
                
            </div>
          </div>
        </div>
      </div>
       
      <div class="row float-left submit-container">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <span>*required</span>
            </div>
            <div class="col-sm-6 btn-save">
              <button class="float-right btn btn-primary btn-sm">Confirm & Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
