<div class="list-customers container-fluid">
  <div class="form-group search">
    <input type="text"
          class="form-control"
          name="model"
          [(ngModel)]="data"
          placeholder="Search">
    <div class="container-fa-search">
      <i class="fas fa-search fa-lg"></i>
    </div>
  </div> 
  <table class="table" matSort (matSortChange)="sortData($event, sortedData)" matSortActive="nameSort" matSortDirection="asc" matSortDisableClear>
    <thead>
      <tr>
        <th scope="col" mat-sort-header="customerKey" (click)="toggleHeaderListFirst()" class="d-inline-block col-2">Customer Key<span class="sort">
          <i *ngIf="sortDirectionFirst" [ngClass]="isHeaderFirstClicked ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
        </span></th>
        <th scope="col" mat-sort-header="businessRegNo" (click)="toggleHeaderListSecond()" class="d-inline-block col-2">Business Reg No.<span class="sort">
          <i *ngIf="sortDirectionSecond" [ngClass]="isHeaderSecondClicked ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
        </span></th>
        <th scope="col" mat-sort-header="name" (click)="toggleHeaderListThird()" class="d-inline-block col-4">Company Name / Individual Buyer<span class="sort">
          <i *ngIf="sortDirectionThird" [ngClass]="isHeaderThirdClicked ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
        </span></th>
        <th scope="col" mat-sort-header="contactNo" (click)="toggleHeaderListFourth()" class="d-inline-block col-2">Contact No.<span class="sort">
          <i *ngIf="sortDirectionFourth" [ngClass]="isHeaderFourthClicked ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
        </span></th>
        <th scope="col" mat-sort-header="status" (click)="toggleHeaderListFifth()" class="d-inline-block col-2">Status<span class="sort">
          <i *ngIf="sortDirectionFifth" [ngClass]="isHeaderFifthClicked ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
        </span></th>
      </tr>
    </thead>
    <tbody *ngIf="!isSorted">
      <tr (click)="openProfile.emit(customer)" *ngFor="let customer of listCustomers | async | listCustomers:data; let i = index; let isOdd = odd; let isEven = even;" [class.odd]="isOdd"  [class.even]="isEven" [class.data]="hasData">
        <td class="d-inline-block col-2">{{customer.customerKey}}</td>
        <td class="d-inline-block col-2">{{customer.businessRegNo}}</td>
        <td class="d-inline-block col-4">{{customer.name}}</td>
        <td class="d-inline-block col-2">{{customer.contactNo}}</td>
        <td class="d-inline-block col-2">{{customer.status}}</td>
      </tr>
      <tr *ngIf="!hasData" class="no-data-container">
        <td class="d-inline-block col-12 no-data">No records found.</td>
      </tr>
    </tbody>
    <tbody *ngIf="isSorted">
      <tr (click)="openProfile.emit(customer)" *ngFor="let customer of listCustomersSorted | listCustomers:data; let i = index; let isOdd = odd; let isEven = even;" [class.odd]="isOdd"  [class.even]="isEven" [class.data]="hasData">
        <td class="d-inline-block col-2">{{customer.customerKey}}</td>
        <td class="d-inline-block col-2">{{customer.businessRegNo}}</td>
        <td class="d-inline-block col-4">{{customer.name}}</td>
        <td class="d-inline-block col-2">{{customer.contactNo}}</td>
        <td class="d-inline-block col-2">{{customer.status}}</td>
      </tr>
      <tr *ngIf="!hasData" class="no-data-container">
        <td class="d-inline-block col-12 no-data">No records found.</td>
      </tr>
    </tbody>
  </table>
</div>
