.tab-container {
    padding-left: 0;
    padding-right: 25px;
}

.nav-tabs li {
    cursor: pointer;
    user-select: none;
}

.nav-tabs li:hover {
    text-decoration: underline;
}

.nav-tabs.show-tab {
    border-bottom: 2px solid #b5b5b5;
    position: relative;
    margin-top: 45px
}

.nav-tabs li:nth-child(2), .nav-tabs .active:nth-child(2), .nav-tabs li:nth-child(3), .nav-tabs li:nth-child(4), .nav-tabs li:nth-child(5) {
    padding: 7px;
    height: 36px;
    border-right: 2px solid #dee2e6;
}

.nav-tabs .active:nth-child(2), .nav-tabs .active:nth-child(3), .nav-tabs .active:nth-child(4), .nav-tabs .active:nth-child(5) {
    background-color: #2b8bd9;
    width: 184px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.nav-tabs li:nth-child(2), .nav-tabs li:nth-child(3), .nav-tabs li:nth-child(4), .nav-tabs li:nth-child(5) {
    background-color: #fff;
    width: 184px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.nav-tabs li:nth-child(2) .tab-close-container, .nav-tabs li:nth-child(3) .tab-close-container, .nav-tabs li:nth-child(4) .tab-close-container, .nav-tabs li:nth-child(5) .tab-close-container {
    display: none;
}

.nav-tabs .active:nth-child(2) .tab-close-container, .nav-tabs .active:nth-child(3) .tab-close-container, .nav-tabs .active:nth-child(4) .tab-close-container, .nav-tabs .active:nth-child(5) .tab-close-container {
    display: inline-block;
}

.nav-tabs .active .tab-title {
    float: left;
    width: 100%;
}

.nav-tabs .active .tab-close-container {
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 0;
    margin-top: -45px;
    cursor: default;
    color: #6e6e6e;
}

.nav-tabs .active div .tab-close-container {
    margin-right: 0;
}

/* On screens 1500px or more */
@media screen and (min-width: 1500px) {
    .tab-container {
        padding-right: 0;
    }
}