<div class="sales-container container-fluid">
  <!-- Sales form -->
  <div id="theForm">
    <div id="sales-form-wrapper">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div *ngIf="success" class="alert alert-success">{{success}}</div>
    <h2>New Sales Entry</h2>
    <form #f="ngForm" name="theForm" (submit)="addSales(f)">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-3 col-form-label">
                Invoice No.
              </label>
              <div class="col-9">
                <input type="text"
                      class="form-control form-control-sm"
                      name="model"
                      [(ngModel)]="sale.invoices"
                      #accountModel="ngModel"
                      placeholder="Eg. 987654321"
                      required
                      pattern="^[a-zA-Z]+$">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="offset-sm-1 col-3 col-form-label">
                Amount
              </label>
              <div class=" col-8">
                  <input type="text"
                  class="form-control form-control-sm"
                  name="model"
                  [(ngModel)]="sale.amount"
                  #accountModel="ngModel"
                  placeholder="Eg. 1,234,567,890"
                  required
                  pattern="^[a-zA-Z]+$">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-3 col-form-label">
                Date
              </label>
              <div class="col-9">
                  <input type="date"
                    class="form-control form-control-sm"
                    name="model"
                    [(ngModel)]="sale.paymentDate"
                    #accountModel="ngModel" 
                    placeholder="Eg. 31 December 2018" 
                    name="d2" 
                    ngbDatepicker #d2="ngbDatepicker"
                    required>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group text-right">
              <label class="control-label">&nbsp;</label>
              <button class="mt-sm-auto btn btn-primary btn-sm">Add New</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- List of sales -->  
  <div *ngIf="hasData" class="col-12 list-sales">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="d-inline-block col-2">Date</th>
          <th scope="col" class="d-inline-block col-3">Amount</th>
          <th scope="col" class="d-inline-block col-3">Invoice Number</th>
          <th scope="col" class="d-inline-block col-2">&nbsp;</th>
          <th scope="col" class="d-inline-block col-2">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of salesArr; let i = index; let isOdd = odd; let isEven = even;" [class.odd]="isOdd"  [class.even]="isEven">
          <td class="d-inline-block col-2">{{item.paymentDate}}</td>
          <td class="d-inline-block col-3">${{item.amount}}</td>
          <td class="d-inline-block col-3">{{item.invoices}}</td>
          <td class="d-inline-block col-2 highlight-btn"><i class="fas fa-pencil-alt fa-lg fa-edit-style"></i> Edit</td>
          <td class="d-inline-block col-2 highlight-btn"><i class="fas fa-times fa-lg fa-delete-style"></i> Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!hasData" class="col-12 list-sales"></div>
  </div>
</div>