<div class="sales-container">
  <!-- Sales form -->
  <div id="theForm">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success" class="alert alert-success">{{success}}</div>
  <h2>New Sales Entry</h2>
  <form #f="ngForm" name="theForm" (submit)="addSales(f)">
    <div class="row">
      <div class="col">
        <div class="row form-group">
          <div class="col">
            <label>Amount</label>
          </div>
          <div class="col">
            <input type="text"
                  class="form-control"
                  name="model"
                  [(ngModel)]="sale.payments"
                  #accountModel="ngModel"
                  placeholder="Eg. 1,234,567,890"
                  required
                  pattern="^[a-zA-Z]+$">
          </div>
        </div>

        <div class="row form-group">
          <div class="col">
            <label>Invoice Number</label>
          </div>
          <div class="col">
            <input type="text"
                  class="form-control"
                  name="model"
                  [(ngModel)]="sale.invoices"
                  #accountModel="ngModel"
                  placeholder="Eg. 987654321"
                  required
                  pattern="^[a-zA-Z]+$">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row form-group">
          <div class="col">
            <label>Date</label>
          </div>
          <div class="col">
            <input type="text"
                  class="form-control"
                  name="model"
                  [(ngModel)]="sale.paymentDate"
                  #accountModel="ngModel" 
                  placeholder="Eg. 31 December 2018" 
                  name="d2" 
                  ngbDatepicker #d2="ngbDatepicker"
                  required>
            <div class="input-group-append datepicker-custom">
              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="far fa-calendar-alt fa-sm"></i></button>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label>&nbsp;</label>
          </div>
          <div class="col">
            <div class="submit-container">
              <button class="btn btn-primary btn-sm">Add New</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- List of sales -->
  <div class="col list-sales">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Invoice Number</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of salesArr;let i = index;">
          <td>{{salesArr[i].paymentDate}}</td>
          <td>{{salesArr[i].payments}}</td>
          <td>{{salesArr[i].invoices}}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>