<div class="payment-container">
  <div id="theForm" *ngIf="loading">
    <div id="payments-form-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center" style="margin-top: 25px;">
            <i class="fas fa-spinner fa-spin fa-5x"></i>
            <p style="margin-top: 25px;">Loading</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Payments form -->
  <div id="theForm" *ngIf="!loading">
    <div id="payments-form-wrapper">
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      <div *ngIf="success" class="alert alert-success">{{success}}</div>
      <h2>New Payment Entry</h2>
      <div name="theForm">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <!-- <div class="form-group row">
                <div class="col-4 col-form-label">
                  Payment Ref
                </div>
                <div class="col-8">
                  <input type="text" 
                  name="salesref" 
                  class="form-control form-control-sm" 
                  [(ngModel)]="salesRef"/>
                </div>
              </div> -->
              <div class="form-group row">
                <div class="col-4 col-form-label">
                  Date Due
                </div>
                <div class="col-8">
                  <input type="date" #model="ngModel" class="form-control form-control-sm" [(ngModel)]="dueDate" (change)="validateDueDate(dueDate, null, 'store')"/>
                  <div *ngIf="!dueDate && !isValid" class="required-field">Date Due is required.</div>
                  <div *ngIf="!isValidDueDate && !isValid" class="required-field">Date Due should be later than Sales Date.</div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-4 col-form-label">
                  Invoice Amount
                </div>
                <div class="col-8">
                  <input type="number" class="form-control form-control-sm" [(ngModel)]="amountPaid"/>
                  <div *ngIf="!amountPaid && !isValid" class="required-field">Invoice Amount is required.</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <div class="offset-1 col-3 col-form-label">
                  Invoice No.
                </div>
                <div *ngIf="!invoicesUpdated" class="col-8">
                  <ng-select [items]="invoices" bindLabel="invoiceNo" bindValue="invoiceNo" [(ngModel)]="invoiceNo" (ngModelChange)="selectedSalesDate(invoiceNo)"></ng-select>
                  <div *ngIf="!invoiceNo && !isValid" class="required-field">Invoice No. is required.</div>
                </div>
                <div *ngIf="invoicesUpdated" class="col-8">
                  <ng-select [items]="invoicesChanged" bindLabel="invoiceNo" bindValue="invoiceNo" [(ngModel)]="invoiceNo" (ngModelChange)="selectedSalesDate(invoiceNo)"></ng-select>
                  <div *ngIf="!invoiceNo && !isValid" class="required-field">Invoice No. is required.</div>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-1 col-3 col-form-label">
                  Date Paid
                </div>
                <div class="col-8">
                  <input type="date" #model="ngModel" class="form-control form-control-sm" [(ngModel)]="paidDate"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group row">
                <div class="col-2 col-form-label">
                  Remarks
                </div>
                <div class="col-7">
                  <textarea class="form-control form-control-sm" [(ngModel)]="remarks"></textarea>
                </div>
                <div class="col-3 text-right">
                  <button class="mt-sm-auto btn btn-primary btn-sm" (click)="submitPayment($event)" *ngIf="!submitting" [salesDate]="['refSalesDate', 'model']">Add Payment</button>
                  <span *ngIf="submitting"><i class="fas fa-spinner fa-spin"></i> Processing Payment</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hasData" class="col list-sales">
      <table class="table">
        <thead>
          <tr *ngIf="!rearrangeHeader">
            <th scope="col" class="d-inline-block col-2">Date Due</th>
            <th scope="col" class="d-inline-block col-2">Date Paid</th>
            <th scope="col" class="d-inline-block col-2">Amount</th>
            <th scope="col" class="d-inline-block col-2">Invoice No.</th>
            <th scope="col" class="d-inline-block col-2">Remarks</th>
            <th scope="col" class="d-inline-block col-1">&nbsp;</th>
            <th scope="col" class="d-inline-block col-1">&nbsp;</th>
          </tr>
          <tr *ngIf="rearrangeHeader">
            <th scope="col" class="d-inline-block col-2">Date Due</th>
            <th scope="col" class="d-inline-block col-2">Date Paid</th>
            <th scope="col" class="d-inline-block col-2">Amount</th>
            <th scope="col" class="d-inline-block col-2">Invoice No.</th>
            <th scope="col" class="d-inline-block col-2">Remarks</th>
            <th scope="col" class="d-inline-block col-1">&nbsp;</th>
            <th scope="col" class="d-inline-block col-1">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of payments; let i = index; let isOdd = odd; let isEven = even;" [class.odd]="isOdd"  [class.even]="isEven" [@fadeInOut]>
            <td *ngIf="!item.editNow" class="d-inline-block col-2">{{item.duedate}}</td>
            <td *ngIf="item.editNow" class="d-inline-block col-2"><input type="date" [(ngModel)]="item.duedate" [(value)]="item.duedate" (change)="validateDueDate(item.duedate, item.payment_date, 'update')" class="form-control form-control-sm" required/><div *ngIf="!item.duedate && !isValidEdit" class="required-field">Due Date is required.</div><div *ngIf="!isValidDueDateEdit && !isValidEdit" class="required-field">Date Due should be later than Sales Date.</div></td>
            <td *ngIf="!item.editNow" class="d-inline-block col-2">{{item.paiddate}}</td>
            <td *ngIf="item.editNow" class="d-inline-block col-2"><input type="date" [(ngModel)]="item.paiddate" [(value)]="item.paiddate" class="form-control form-control-sm" required/></td>
            <td *ngIf="!item.editNow" class="d-inline-block col-2 col-adjust">${{item.amount | number:'.2-2'}}</td>
            <td *ngIf="item.editNow" class="d-inline-block col-2"><input type="number" [(ngModel)]="item.amount" [(value)]="item.amount" class="form-control form-control-sm" required/><div *ngIf="!item.amount && !isValidEdit" class="required-field">Amount is required.</div></td>
            <td *ngIf="!item.editNow" class="d-inline-block col-2 col-adjust">{{item.invoicekey}}</td>
            <td *ngIf="item.editNow" class="d-inline-block col-2">
              <div *ngIf="!invoicesUpdated">
                  <ng-select [items]="invoices" bindLabel="invoiceNo" bindValue="invoiceNo" [(ngModel)]="item.invoicekey" (ngModelChange)="selectedSalesDate(item.invoicekey)"></ng-select><div *ngIf="!item.invoicekey && !isValidEdit" class="required-field">Invoice No. is required.</div>
              </div>
              <div *ngIf="invoicesUpdated">
                  <ng-select [items]="invoicesChanged" bindLabel="invoiceNo" bindValue="invoiceNo" [(ngModel)]="item.invoicekey" (ngModelChange)="selectedSalesDate(item.invoicekey)"></ng-select><div *ngIf="!item.invoicekey && !isValidEdit" class="required-field">Invoice No. is required.</div>
              </div>
            </td>
            <td *ngIf="!item.editNow" class="d-inline-block col-2">{{item.remarks}}</td>
            <td *ngIf="item.editNow" class="d-inline-block col-2"><textarea class="form-control form-control-sm" [(ngModel)]="item.remarks"></textarea></td>
            <td *ngIf="!item.editNow" class="d-inline-block col-1" [class.highlight-btn]="item.isEditable" [class.no-highlight-btn]="!item.isEditable" (click)="editPayment($event, item, item.isEditable);"><i class="fas fa-pencil-alt fa-lg" [class.fa-pencil-alt-enabled]="item.isEditable" [class.fa-pencil-alt-disabled]="!item.isEditable"></i> Edit</td>
            <td *ngIf="item.editNow" class="d-inline-block col-1" (click)="updatePayment($event, item);"><button class="mt-sm-auto btn btn-primary btn-sm">Update</button></td>
            <td *ngIf="!item.editNow" class="d-inline-block col-1" [class.highlight-btn]="item.isEditable" [class.no-highlight-btn]="!item.isEditable" (click)="confirmDeletePayment(content, item, item.isEditable)"><i class="fas fa-times fa-lg" [class.fa-times-enabled]="item.isEditable" [class.fa-times-disabled]="!item.isEditable"></i> Delete</td>
            <td *ngIf="item.editNow" class="d-inline-block col-1" (click)="cancelPayment($event, item);"><button class="btn btn-primary btn-sm btn-danger">Cancel</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!hasData" class="col-12 list-sales"></div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h2 id="modal-basic-title">Confirm Deletion</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        Delete this payment?
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="mt-sm-auto btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
  </div>
</ng-template>