/** Sales form **/
.payment-container {
    padding: 0;
}

.payment-container #theForm {
    background-color: white;
}


#payments-form-wrapper {
    padding: 15px;
}

.payment-container #theForm h2 {
    font-weight: bold;
    font-size: 12px;
}

.form-group .col-form-label {
    font-size: 12px;
    font-weight: bolder;
    padding-left: 0px;
}

/** List of sales **/
.list-sales {
    width: 100%;
    float: left;
    font-size: 12px;
    padding: 0px;
    background-color: white;

}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    background-color: white;
}
    
th {
    background-color: #144E66;
    color: white;
}

tbody {
    position: absolute;
    height: 40vh;
    overflow-y: auto;
}

.even {
    background-color: #E9E9E9;
   
}

.highlight-btn {
    cursor: pointer;
}

.fa-pencil-alt-enabled {
    color: #0098D8 !important;
}

.fa-pencil-alt-disabled {
    color: #ced4da !important;
}

.fa-times-enabled {
    color: #D80000 !important;
}

.fa-times-disabled {
    color: #ced4da !important;
}

.highlight-btn:hover {
    text-decoration: underline;
}

.no-highlight-btn:hover {
    text-decoration: none;
}

.btn-cancel, btn-cancel:active:focus, .btn-cancel:hover {
    background-color: #D80000!important;
    border-color: #D80000!important;
}

.col-adjust {
    padding-left: 1.2rem;
}

/* On screens 1500px or more */
@media screen and (min-width: 1500px) {
    tbody {
        height: 40vh;
    }
}