<nav class="sidebar-a">
  <ul class="menu">
    <li><a (click)="changeTitleCustomers()" routerLink="/customers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><div><i class="fas fa-user-friends fa-xs"></i>Customers</div></a></li>
    <li><a (click)="changeTitleNewCustomer()" routerLink="/new-customer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><div><i class="fas fa-plus fa-sm"></i>New Customer</div></a></li>
    <li><a routerLink="/login" routerLinkActive="active"><div><i class="fas fa-sign-out-alt fa-sm"></i>Logout</div></a></li>
  </ul> 
</nav>