.sidebar-a {
    height: 94vh;
    background-color: #124366;
}
.menu {
    padding-top: 8px !important;
}

.sidebar-a ul, .sidebar-a ul.menu > li a {
    padding: 0;
}

.sidebar-a ul.menu > li a div {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
}

.sidebar-a ul.menu > li a div .fa-user-friends, .sidebar-a ul.menu > li a div .fa-plus, .sidebar-a ul.menu > li a div .fa-newspaper, .sidebar-a ul.menu > li a div .fa-file-invoice, .sidebar-a ul.menu > li a div .fa-sign-out-alt {
    margin-right: 6px;
}

.sidebar-a ul.menu > li a.active {
    display: block;
    background-color: #2b8bd9;
}

ul.menu > li {
    list-style-type: none;
    padding: 0;
}