<nav class="sidebar-a container-fluid">
  <ul class="menu row">
    <li class="col-sm-12"><a (click)="changeTitleCustomers('Customers')" routerLink="/customers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><div><i class="fas fa-user-friends fa-xs"></i>Customers</div></a></li>
    <li class="col-sm-12"><a (click)="changeTitleCustomers('Create New Customer')" routerLink="/new-customer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><div><i class="fas fa-plus fa-sm"></i>New Customer</div></a></li>
    <li class="col-sm-12"><a routerLink="/login" routerLinkActive="active"><div><i class="fas fa-sign-out-alt fa-sm"></i>Logout</div></a></li>
  </ul> 
</nav>