<div class="login-container">
  <form #f="ngForm" name="theForm" (submit)="request(f, $event)">
    <div class="form-container">
      <div class="columns">
        <div class="logo-login"><img src="http://misumi.oddity.sg/assets/img/MWing9.jpg" /></div>
        <div class="login-sub-text"><h2>Request Password Reset</h2></div>
        <div *ngIf="error && !customError" class="alert alert-danger">{{error}}</div>
        <div *ngIf="error && customError" class="alert alert-danger">Sending password reset request failed.</div>
        <div *ngIf="success" class="alert alert-success">The password reset request has been sent to your E-mail.</div>
        <div class="form-group username">
          <input type="text"
                class="form-control"
                name="email"
                [(ngModel)]="passwordResetRequest.email"
                #email="ngModel"
                [ngModelOptions]="{standalone: true}"
                placeholder="E-mail Address"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <div class="container-fa-user">
            <i class="fas fa-user fa-lg"></i>
          </div>
          <div *ngIf="!passwordResetRequest.email && !isValid" class="required-field">E-mail is required.</div>
          <div *ngIf="email.errors?.pattern && (email.touched || email.dirty)" class="required-field">Invalid E-mail.</div>
        </div>
        <input *ngIf="!submitting" type="submit" class="btn-expanded btn btn-primary btn-sm" value="Send"> 
        <span *ngIf="submitting" class="pre-loader"><i class="fas fa-spinner fa-spin"></i> Sending</span>
        <!-- <input type="submit" class="button expanded" value="Login" [disabled]="!rForm.valid"> -->
      </div>
    </div>
  </form>
</div>
