<div class="login-container">
  <form #f="ngForm" name="theForm" (submit)="resetPassword(f, $event)">
    <div class="form-container">
      <div class="columns">
        <div class="logo-login"><img src="http://misumi.oddity.sg/assets/img/MWing9.jpg" /></div>
        <div class="login-sub-text"><h2>Change password</h2></div>
        <div *ngIf="error && !customError" class="alert alert-danger">Something went wrong!</div>
        <div *ngIf="error && customError" class="alert alert-danger">Something went wrong! Please request another password reset <a href="/forgot-password/request">here</a>.</div>
        <div *ngIf="success && !customSuccess" class="alert alert-success">{{success}}</div>
        <div *ngIf="customSuccess" class="alert alert-success">The password has been reset. You may login <a href="/login">here</a>.</div>
        <div class="form-group username">
          <input *ngIf="enable" 
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="passwordReset.name"
                #email="ngModel"
                [ngModelOptions]="{standalone: true}"
                [readonly]="true"
                placeholder="Username"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <input *ngIf="!enable" 
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="passwordReset.name"
                #email="ngModel"
                [ngModelOptions]="{standalone: true}"
                [disabled]="true"
                placeholder="Username"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <div class="container-fa-user">
            <i class="fas fa-user fa-lg"></i>
          </div>
        </div>
        <div class="form-group password">
          <input *ngIf="enable" 
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="passwordReset.password"
                [ngModelOptions]="{standalone: true}"
                #loginModel="ngModel"
                placeholder="Password"
                required>
          <input *ngIf="!enable" 
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="passwordReset.password"
                [ngModelOptions]="{standalone: true}"
                #loginModel="ngModel"
                [disabled]="true"
                placeholder="Password"
                required>
          <div class="container-fa-key">
            <i class="fas fa-key fa-lg"></i>
          </div>
          <div *ngIf="!passwordReset.password && !isValid" class="required-field">Password is required.</div>
        </div>
        <input *ngIf="enable && !submitting" type="submit" class="btn-expanded btn btn-primary btn-sm" value="Reset password"> 
        <input *ngIf="!enable && !submitting" type="submit" [disabled]="true" class="btn-expanded btn btn-primary btn-sm" value="Reset password">
        <span *ngIf="submitting" class="pre-loader"><i class="fas fa-spinner fa-spin"></i> Resetting password</span>
        <!-- <input type="submit" class="button expanded" value="Login" [disabled]="!rForm.valid"> -->
      </div>
    </div>
  </form>
</div>
