@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    overflow-x: hidden;
    background-color: #e6e6e6 !important;
}

.modal-content {
    padding: 10px !important;
    color: #6e6e6e;
}

.modal-header h2 {
    font-weight: bold;
    font-size: 14px;
}

.modal-body {
    font-size: 12px;
}

.modal-btn-delete, modal-btn-delete:active:focus, .modal-btn-delete:hover {
    background-color: #D80000!important;
    border-color: #D80000!important;
}

ng-select.custom, ng-select.custom .ng-select-container {
    height: 25px !important;
    min-height: 25px !important;
}

ng-select.custom .ng-value-container {
    font-size: 12px;
}

ng-select.custom-sales-ref, ng-select.custom-sales-ref .ng-select-container {
    height: 32px !important;
    min-height: 32px !important;
}

.list-customers table th .mat-sort-header-container .mat-sort-header-arrow{
    display: none !important;
}

.required-field {
    font-size: 12px;
    color: #ff0000;
}
