@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    overflow-x: hidden;
    background-color: #e6e6e6 !important;
}

.modal-content {
    padding: 10px !important;
    color: #6e6e6e;
}

.modal-header h2 {
    font-weight: bold;
}

.modal-btn-delete, modal-btn-delete:active:focus, .modal-btn-delete:hover {
    background-color: #D80000!important;
    border-color: #D80000!important;
}

ng-select.custom, ng-select.custom .ng-select-container {
    height: 25px !important;
    min-height: 25px !important;
}

/* ng-touched ("drop down has been opened" state) */
/* ng-select-opened ("dropdown is open" state) */
ng-select.custom.ng-touched .ng-select-container .ng-value,
ng-select.custom.ng-touched .ng-select-container .ng-clear-wrapper,
ng-select.custom.ng-touched .ng-select-container .ng-arrow-wrapper,
ng-select.custom.ng-select-opened .ng-select-container .ng-value,
ng-select.custom.ng-select-opened .ng-select-container .ng-clear-wrapper,
ng-select.custom.ng-select-opened .ng-select-container .ng-arrow-wrapper {
    margin-top: 10px;
}

ng-select.custom-sales-ref, ng-select.custom-sales-ref .ng-select-container {
    height: 32px !important;
    min-height: 32px !important;
}

.list-customers table th .mat-sort-header-container .mat-sort-header-arrow{
    display: none !important;
}

.required-field {
    color: #ff0000;
}
