@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    overflow-x: hidden;
    background-color: #e6e6e6 !important;
}

.modal-content {
    padding: 10px !important;
}

ng-select.custom, ng-select.custom .ng-select-container {
    height: 25px !important;
    min-height: 25px !important;
}

ng-select.custom .ng-value-container {
    font-size: 12px;
}

ng-select.custom-sales-ref, ng-select.custom-sales-ref .ng-select-container {
    height: 32px !important;
    min-height: 32px !important;
}

.list-customers table th .mat-sort-header-container .mat-sort-header-arrow{
    display: none !important;
}
