<div class="row">
    <div class="col-sm-12">
        <div class="container-fluid notif-container">
            <div class="row">
                <div class="col-sm-12">Notifications Panel</div>
            </div>
            <div *ngFor="let item of notificationsAry" class="row notif-list" [@fadeInOut]>
                <div class="col-sm-6 event-type" [class.new]="item.notifStatus===1" [class.update]="item.notifStatus===2" [class.delete]="item.notifStatus===3">{{item.eventType}}</div>
                <div class="col-sm-6 event-time">{{item.notifTime}}</div>
                <div class="col-sm-12 description" [innerHtml]="item.description"></div>
            </div>
        </div>
        
    </div>
</div>